
#profilePicca {
    display: flex;
    /* justify-content: flex-end; */
}




.profilePage {
    display: flex;
    justify-content: center;
}

/* .profilePage h5 {
} */




/* end uploader/profilePic/bioEditor */



/* resetPassword */
#resetP1 {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: column;
    margin: 150px;
}

/* Chat  */

/* onlineUsers */
/* end onlineUsers */
/* otherProfile */
.OUdiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid cornflowerblue; */
    width: 300px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 5px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 10px;
}

.chatImgOU {
    margin-bottom: -18px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/* end otherProfile */
/* friendship */
.friendship {
    position: absolute;
    bottom: 150px;
    left: 45%;
      font-family: "Roboto Slab", serif;
    padding: 10px;
}
/* endFriendship */

/* friends */
.requestImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
     border: 3px solid #fd7b95;
     object-fit: cover;
     margin: 10px;
      
}

.requestDiv p {
    margin: -6px;
    text-align: center;
}

.friendsFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.requestName {
        font-family: "Roboto Slab", serif;
    padding: 10px; 
}

.friendsButton {
    font-family: "Roboto Slab", serif;
    padding: 10px;
    margin-left: 40px;
}

/* endFriends */
