/* Welcome/registration/login */
.logo {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
}

#welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcomePage input {
    display: block;
    margin: 10px;
    
}

#h1Welcome {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 100px;
    margin: 25px;
    margin-bottom: 50px;
}

#registerHere {
    font-family: 'Roboto Slab', serif;
    padding: 10px;

}

#registerDiv {
    display: flex;
    flex-direction: column;
}

.submitButton {
    margin: 10px;
   margin-top: 30px;
   font-size: 20px;
}

.footer p{
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 1;
}

.footer div.image {
    width: 100vw;
    bottom: 0;
    right: 0;
    height: 70px;
    position: fixed;
    background-repeat: repeat-x;
    background-image: url("taco.jpg");
    background-size: 100px;
}
/* end welcome/registration */

/* uploader/profilepic */

#uploader {
    border: 3px solid yellow;
}

#profilePicca {
    border: 3px solid pink;
    display: flex;
    justify-content: flex-end;  
}

.profile-pic {
    width: 100px;
    
}

/* end uploader/profilePic */