.friendshipContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.friendship {
    align-self: center;
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora';
}