.onlineUsersContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-align: center;
    font-family: "Lora", serif;
    padding: 10px;
}

.onlineUsersContainer h3 {
    align-self: flex-start;
}
.onlineInfo {
    align-self: flex-start;
    margin-left: 50px;
}

.onlineUserDiv {
    display: flex;
    width: 100%;
}

.onlineUsersContainer h3 {
    margin: 50px;
}

.chatImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.modal {
    width: 20%;
    top: 115px;
    position: fixed;
    left: 400px;
    
}
