.plantInfoImg {
    width: 500px;
    height: 500px;
    border-radius: 25%;
    border: 3px solid #6F9F95;
    margin-top: 30px;
}

.plantInfoContainer {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: space-evenly;

}

.plantInfoContainer h1 {
     font-family: "Lora";
     text-align: center;
     /* z-index: 1; */
   color: #accac0;
   margin-top: 5px;
}

.buttonWish {
font-family: "Lora";
width: 100px;
    align-self: center;
    margin: 10px;
}

.buttonAvailable {
    font-family: "Lora";
    width: 100px;
    align-self: center;
     margin: 10px;
}

.plantInfoFlex {
    display: flex;
    flex-direction: column;
}

.plantInfoCN {
    z-index: 30000;
}

.offeredPlantsName {
    font-family: "Lora";
    color: #accac0;
    text-align: center;
}

.offeredPlantsName h4 {
    font-family: "Lora";
    color: #accac0;
    text-align: center;
}

.offeredPlantsImg {
    width: 150px;
    height: 150px;
    border: 3px solid #6F9F95;
    border-radius: 50%;
    margin-top: 15px;
    object-fit: cover;
}
   
