.resetP1Container {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#p1Div input {
    display: block;
    margin: 10px;
    width: 200px;
}

.resetPasswordImg {
    width: 50vw;
   grid-area: 1 / 1 / 2 / 2; 
    object-fit: cover;
    height: 100vh;
}

.p1Div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'Lora', serif;
    font-style: italic;
   text-align: center;
   align-items: center;
}

.submitButtonRP {
    margin: 10px;
    margin-top: 30px;
    font-size: 20px;
    /* font-family: 'Lora', serif; */
    cursor:pointer;
    margin-bottom: 30px;
}

/* rp2 */
.resetP2Container {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#p2Div input {
    display: block;
    margin: 10px;
    width: 200px;
}

.p2Div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'Lora', serif;
    font-style: italic;
   text-align: center;
   align-items: center;
}

/* p3 */
.resetP3Container {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.p3Div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'Lora', serif;
    font-style: italic;
   text-align: center;
   align-items: center;
}

.p3Div h1 {
    margin-bottom: 80px;
}